@import url('https://fonts.googleapis.com/css?family=Creepster');

.creepster{
    font-family: 'Creepster', cursive;
}

.black{
    color:black
}

body {
    background-image: linear-gradient(#484848,#c70000, #7b5507);
}

.jumbotron{
    background: #353535;
}

header{
    border: hidden;
    margin: 0 auto;
    font-size: 20px; 
    background: #353535;
    width: 80%;
    height: 150px; 
    text-align: center;

}

#underScores{
    
    color: silver;
   
 

    text-align: center;
    
    font-size: 20px;

}

/

h1{
    font-family: 'Creepster', cursive;
    color:  #fd2727;
}

h2{
    font-family: 'Creepster', cursive;
    color: #fd2727;
    text-align: center;
}

h3{
    font-family: 'Creepster', cursive;
    color: silver;
    text-align: center;
}

/*img{

        position: relative;
        left: 40%;
        border: solid 10px;
        
        bottom: 222px;
}*/

button{
    font-family: 'Creepster', cursive;
    font-size: 18px;
    color: black;
    background: red;
    border: solid 3px black;
    width: 25%;
    height: 50px;

}